{% extends "basic_app/base.html" %}
{% block body_block %}
{% load staticfiles %}
{% if user.is_authenticated %}
<div class="container">
  <h2>Image Gallery</h2>
  <p>Click on the images to enlarge them.</p>
  <div class="row">
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/pikachu.jpg" %}" target="_blank">
          <img src="{% static "images/pikachu.jpg" %}" alt="Lights" style="width:100%;height:200px">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/fox.jpg" %}" target="_blank">
          <img src="{% static "images/fox.jpg" %}" alt="Nature" style="width:100%">
        </a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="thumbnail">
        <a href="{% static "images/redpanda.jpg" %}" target="_blank">
          <img src="{% static "images/redpanda.jpg" %}" alt="Fjords" style="width:100%">
        </a>
      </div>
    </div>
  </div>
</div>


{% else %}
  
          <p><a href="{% url 'basic_app:user_login' %}" class="btn btn-primary" role="button">Sign in </a>
            <a href="{% url 'basic_app:register'%}" class="btn btn-primary" role="button">Register</a></p>

{% endif %}


{%endblock%}
